
@{
    ViewBag.Title = "Crear";
}

<div>
    <h2>Creación de Proveedores</h2>
    <p>*****************</p>
    @Html.ActionLink("Listado de proveedores", "Listado")
    <br />
    @Html.ActionLink("Regresar a la página principal", "Index", "Home")
</div>
