@{
    ViewBag.Title = "Home Page";
}

<h1>Página Principal</h1>

@Html.ActionLink("Listado de Clientes", "Listado", "Clientes") |
@Html.ActionLink("Crear Clientes", "Crear", "Clientes") |
@Html.ActionLink("Listado de Proveedores", "Listado", "Proveedores") |
@Html.ActionLink("Crear Proveedores", "Crear", "Proveedores")